$light-dark: rgb(38, 38, 38);
$light-blue: #1976d2;
$light-gray: #747474;
$dark-gray: rgba(0, 0, 0, 0.23);
$light-red: #ef5350;

$container-width: 650px;

$breakpoint-medium: 800px;
$breakpoint-small: 500px;

$layout-padding-vertical: 90px;
$layout-padding-vertical-m: 60px;
$layout-padding-vertical-s: 40px;

$container-padding-horizontal: 60px;
$container-padding-horizontal-m: 40px;
$container-padding-horizontal-s: 20px;

$section-margin-vertical: 100px;
$section-margin-vertical-m: 80px;
$section-margin-vertical-s: 60px;
