.row-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, auto));
  align-items: flex-end;
  grid-gap: 25px;
  margin-bottom: 25px;
}

.item {
  display: flex;
}

.input {
  width: 100%;
}

.href {
  margin-bottom: 25px;
  word-break: break-all;
}

.params-fields {
  overflow: auto;
  padding-top: 4px;
  max-height: 330px;
}

.button {
  margin-top: 10px;
}