@use "styles/variables.scss" as variables;
@use "styles/media.scss" as media;

.section {
  &:not(:last-child) {
    margin-bottom: variables.$section-margin-vertical;

    @include media.vw-medium {
      margin-bottom: variables.$section-margin-vertical-m;
    }
    
    @include media.vw-small {
      margin-bottom: variables.$section-margin-vertical-s;
    }
  }
}